* {
    box-sizing: border-box;
    font-family: monospace;
    background-color: black;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    width: 320px;
}

.first-row, .second-row, .third-row, .fourth-row, .fifth-row {
    display: flex;
    flex-direction: row;
}

.operator {
    width: 78.5px;
    height: 78.5px;
    border-radius: 0px;
    border: 1px solid;
    background-color: #035ee8;
    font-size: 26px;
    margin: 5px;
    color: white;
}

.operator:hover {
    background-color: #2de2e6;

}

.number-btn, .period-btn, .ac-btn {
    width: 78.5px;
    height: 78.5px;
    border-radius: 0px;
    border: 1px solid;
    background-color: #d40078;
    font-size: 26px;
    margin: 5px;
    color: white;
}

.number-btn:hover, .period-btn:hover, .ac-btn:hover {
    background-color: #2de2e6;
}

.screen {
    height: 90px;
    background-color: white;
    width: 344px;
    margin: 5px;
    color: 035ee8;
    border: 1px solid;
    font-size: 30px;
    display: flex;
    justify-content: right;
    padding-right: 20px;
    align-items: center;
}

.equal-btn {
    width: 78.5px;
    height: 344px;
    border-radius: 0px;
    border: 1px solid;
    background-color: #9700cc;
    font-size: 26px;
    margin: 5px;
    color: white;
}

.equal-btn:hover {
    background-color: #2de2e6;
}

.keypad {
    display: flex;
    flex-direction: row;
}

.numbers {
    display: flex;
    flex-direction: column;
}

.equals {
    display: flex;
    flex-direction: row;
}